/*body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}*/
p {
  margin: 0;
}
.p-10 {
  padding: 10px;
}
.font-700 {
  font-weight: 700;
}
.font-600 {
  font-weight: 600;
}
.allborder table,
.allborder th,
.allborder td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
.borderTop table {
  border-top: 1px solid #cccccc;
  border-collapse: collapse;
}
ul {
  padding: 0 0 10px 10px;
  margin: 0;
}
ul li {
  list-style: none;
}
/***************** start sharde between more page ********************/
.page {
  font-size: 12px;
  font-weight: 400;
  width: 700px;
  padding: 30px 50px;
}
.pageHeader {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  color: #555555;
}
.pageHeader .logoheader .logo img {
  width: 300px;
}
.header {
  text-align: center;
  margin: 30px 0;
}
.header h4,
.header h5 {
  margin: 0;
  font-size: 13px;
}
.pageContent .head {
  display: flex;
  justify-content: start;
  background-color: #e9f0fb;
}
.pageContent .head .headLeft {
  text-align: center;
  color: #fff;
  background-color: #01317b;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageContent .head .headLeft span {
  font-weight: 300;
}
.pageContent .head .headLeft p {
  text-transform: uppercase;
  margin: 5px 0 0 0;
  font-size: 15px;
}
.pageContent .head .headRight table tr td:first-child {
  font-weight: 500;
}
.pageContent .tableDetails {
  border: 1px solid #cccccc;
  border-top: 0;
}
.pageContent .tableDetails table {
  width: 100%;
  text-align: left;
}
.pageContent .tableDetails table tr th {
  border-bottom: 1px solid #cccccc;
}
.pageContent .tableDetails table tr th,
.pageContent .tableDetails table tr td {
  padding: 10px;
}
